{{template "header.html" .}}
{{if not .q}}
<div class="search">
  <form class="flex">
    <input class="input flex-1" type="text" name="q" value="{{.q}}" autofocus />
    <button class="button" type="submit">Search</button>
  </form>
</div>
{{else}}
<div class="container">
  <form class="flex">
    <input class="input flex-1" type="text" name="q" value="{{.q}}" autofocus />
    <button class="button" type="submit">Search</button>
  </form>

  {{range $i, $v := .results}}
    <div class="search-result">
      <a class="truncate" href="{{.url}}">{{.title}}</a>
      <div class="truncate" style="white-space:normal;">{{safe .description}}</div>
      <span class="truncate faded">
        <img src="{{.meta_url.favicon}}" height="16" /> {{.url}}
      </span>
    </div>
  {{end}}
  {{if not .results}}
    <div class="text-center mt-8">No results.</div>
  {{end}}
</div>
{{end}}
