<!doctype html>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/lib/global.css" />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☁️</text></svg>">
<title>Obwo Settings{{if .title}} | {{.title}}{{end}}</title>
<div class="header">
  <div class="container flex">
    <h1 class="title flex-1">Obwo Settings</h1>
    <div class="flex gap-2">
      <a href="{{app "mail"}}">Mail</a>
      <a href="{{app "calendar"}}">Calendar</a>
      <a href="{{app "notes"}}">Notes</a>
      <a href="{{app "tasks"}}">Tasks</a>
      <a href="{{app "drive"}}">Drive</a>
      <a href="{{app "search"}}">Search</a>
      <a href="{{app "news"}}">News</a>
      {{if currentUser}}
        <a href="{{app "auth"}}/settings/"><b>{{index currentUser "username"}}</b></a>
      {{else}}
        <a href="{{app "auth"}}/?return=search"><b>Login</b></a>
      {{end}}
    </div>
  </div>
</div>

<div class="container">
<form method="post" style="max-width: 500px">
  <h1 class="title">Profile</h1>

  {{if .success}}
    <div class="success">Profile updated.</div>
  {{end}}
  {{if errors}}
    <div class="error">
      {{range errors}}{{.}}<br/>{{end}}
    </div>
  {{end}}

  <div class="field">
    <label class="label">Username</label>
    <input class="input" type="text" name="username" value="{{param "username"}}" />
  </div>

  <div class="field">
    <label class="label">Password</label>
    <input class="input" type="password" name="password" />
    <span class="help">Optional: Only enter one if you want to update it.</span>
  </div>

  <button class="button w-full" type="submit">Update</button>
</form>
</div>
